{
  "presets": [
    "es2015",
    "flow"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "production": {
      "ignore": [
        "**/*.test.js"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "transform-object-rest-spread",
        "add-module-exports"
      ]
    }
  }
}
